
// Buttons

.btn--default {
	background-color: $secondary-color;
	width: 100%;
	border: none;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	text-transform: uppercase;
	color: $white;
	font-weight: bold;
}