// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

.container {
  @include flexy($dir: column);
  justify-content: center;
  align-items: center;
}

.grid__row {
  @include flexy($align: center);
  justify-content: center;
  width: 100%;
}


.grid__row p {
  width: 85%;
  margin: auto;
  line-height: 1.5em;
}


.grid__col--12 {
  .card {
    p {
      padding-top: 30px;
    }
  }
}



// grid themes 


div[class*="theme__colors"] {

  font-family: $font-main;
  padding: 10px 0px 10px 10px;
  margin: 3px 0;
  border-radius: 5px;
  width: 95%;

  &.grid__col--12 {
    background-color: $lighter-green;
  }

  &.grid__col--6 {
    background-color: $dark-blue;
  }

  &.grid__col--4 {
    background-color: $light-blue;
  }

  &.grid__col--3 {
    background-color: $light-purp;
    justify-content: flex-start;
  }

  &.grid__col--5 {
    background-color: $light-green;
  }

  &.grid__col--7 {
    background-color: $light-red;
  }

  &.grid__col--8 {
    background-color: $light-orange;
    justify-content: flex-start;
  }

}





// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    display: flex;
    flex-direction: column;

    // NOTE: replace with media query mixin if aiming for exceeds
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  //.grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns 
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        // NOTE: replace with media query mixin if aiming for exceeds


        @include mq(desktop) {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds


    @include mq(desktop) {

      // add grid gutter
      margin-left: 10px;
    }
  }
}



    @include mq(desktop) {

      .grid__col--6 {
        @include flexy($align: center);
        justify-content: center;
        }

      .grid__row > .grid__col--12 {
        @include flexy($dir: row);
        justify-content: space-around;
      }

      .grid__col-- {
        &4,
        &5,
        &7 {
          text-align: center;
        }

      }

      div[class*="theme__colors"] {
        &.grid__col--3,
        &.grid__col--8 {
          justify-content: center;
        }
      }

      .grid__row {
        width: 90%;
      }


    }