
//image styles

.grid__col--3 {
	@include flexy($just: center);
}

.img--avatar {
	width: 50%;
	height: 50%;
}

.img--frame {
	border: solid lightgrey 1px;
	padding: 9px;
}

.img--avatar {
	width: 150px;
	margin-top: 15px;
}