
//image styles

.grid__col--3 {
	@include flexy($just: center);
	@extend %centering;
	padding-top: 20px;
}

.img--avatar {
	@extend %img-size;
}

.img--frame {
	border: solid lightgrey 1px;
	padding: 9px;
}



@include mq(desktop) {
	.img--logo {
		padding-left: 10vw;
	}
}