

// navigation styles

.nav {
	@include flexy($dir: column);
	align-items: center;
	padding-left: 0;
}

.nav__item {
	width: 80%;
	text-align: center;
	padding: 10px;
	padding-top: 15px;
	border-radius: 5px;
	font-family: $font-main;
	font-size: $font-size-h2;

	&:hover {
		background-color: $main-color;
	};

	&:hover a {
		color: $white;
	}
}




